[submodule "HackIllinois2025/Midas"]
	path = HackIllinois2025/Midas
	url = git@github.com:Darkarche3/Midas.git
[submodule "UncommonHacks2025/Uncommon2025"]
	path = UncommonHacks2025/Uncommon2025
	url = git@github.com:KaungMyatNaing9/Uncommon2025.git
[submodule "WildHacks2025/WildHacks2025"]
	path = WildHacks2025/WildHacks2025
	url = git@github.com:Jason-Latz/AgriDuty.git
[submodule "LAHacks2025/LAHacks2025"]
	path = LAHacks2025/LAHacks2025
	url = git@github.com:RifatXia/LAHacks-2025.git
